<div class="col">
    {{!-- <form id="channel-form" class="card"> --}}
    {{#each users as |user|}}
        <div class="card">
            <button onclick="channelHandler({{username}})" id="{{username}}" class="card-body" type="button">{{username}}</button>
            {{!-- <button id="{{username}}" class="card-body" type="submit">{{username}}</button> --}}
        </div>
    {{/each}}
    {{!-- </form> --}}
</div>

<script src="/js/newchannel.js"></script>